/* ---------------------Estilo basico--------------------- */
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
a:link, a:visited, a:active, a:hover , a{
    text-decoration:none;
}
/* ---------------------FIN Estilo basico--------------------- */


/* -------------------------------------------------------------- */
/* ------------------------- MENU --------------------------------*/
.header{
  height: 100px;
  
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  text-decoration: none;
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 1111;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
/* --------------------- FIN MENU ------------------------------- */
/* -------------------------------------------------------------- */

  
    
    
       
           
/* 
---------------------Estilo Imagenes -------------------
---------------------GaleriaTransparente ---------------
---------------------GaleriaNormal ---------------------               
*/
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        

        /* Galeria normal */
        .gallery .images{
          position:relative;
          width:100%;
          padding-bottom:60%;
          height:0;
        }
        .gallery .images>div,.gallery .images>span{
          position:absolute;
          display:block;
          width:100%;
          height:100%;
        }.gallery .images>div{
          opacity:0;
          background:center no-repeat;
          background-size:cover;
          border-radius:3px;
          box-shadow:1px 1px 5px rgba(0,0,0,.4);
          -webkit-transition:all .88s ease;
          transition:all .88s ease;
        }
        .gallery .images>div.active{
          opacity:1;
        }
        .gallery .images>span{
          cursor:pointer;
          width:50px;
          color:#fff;
          text-shadow:0 0 5px #000;
          font-size:50px;
          height:100%;
          line-height:44px;
        }
        .gallery .images>span.right{
          left:100%;
          margin-left:-38px;
        }
        .gallery .images>span.left{
          padding-left:10px;
        }
        .gallery .images>span:before{
          margin-top:-25px;
          top:50%;
          position:absolute;
          bottom:0;
        }
        .gallery .images>span.left:before{
          content:"\00AB";
        }
        .gallery .images>span.right:before{
          content:"\00BB";
        }
        .gallery .thumbs{
          margin-top:10px;
          display:inline-block;
          width:100%;
          text-align:center;
          
        }
        .gallery .thumbs>div{
          box-sizing:border-box;
          background:center no-repeat;
          background-size:cover;
          display:inline-block;
          position:relative;
          margin:4px;
          border:3px solid transparent;
          width:100px;
          height:100px;
          
          -webkit-transition:all .88s ease;
          transition:all .88s ease
        }
        @media (max-width:768px){
          .gallery .thumbs>div{
            width:65px;
            height:65px;
          }
        }
        .gallery .thumbs>div:before{
          content:'';
          width:0;
          height:0;
          border:solid transparent;
          border-width:0 5px 5px;
          position:absolute;
          left:45px;
          top:-8px;
          -webkit-transition:all .88s ease;
          transition:all .88s ease;
        }
        @media (max-width:768px){
          .gallery .thumbs>div:before{
            left:25px;
          }
        }
        
        /* 
---------------------FIN Estilo Imagenes -------------------
---------------------FIN GaleriaTransparente ---------------
---------------------FIN GaleriaNormal ---------------------               
*/
        
.selectLogin{
  align-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.rowLogin{
  width: 30%;
  
}

/* Estilos tablas */
tr.capitulos th{
  width: 10%;
}
th.btn{
  width: 20%;
}
th.texto{
  width: 70%;
}


.contenedorArchivo{
  background-color: azure;
}

td.cubierta_galeria{
  width: 65px;
}
.cubierta_galeria{
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

/*---------------------Acerca de--------------------*/
.acercade {
  margin-left: 10%;
  margin-right: 35%;
  margin-top: 2%;
}
.logocelia {
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
}
.logocelia img {
  alt: 70%;
  width: 70%;
  height: 70%;
}

