/* ---------------------Estilo basico--------------------- */
*{
    margin: 0;
    padding: 0;
    background-color: #8395a7;
    color: #222f3e;
}
a:link, a:visited, a:active, a:hover , a{
    text-decoration:none;
}
/* ---------------------FIN Estilo basico--------------------- */

/* ---------------------MENU--------------------- */
.menu ul li{
    list-style: none;
    height: 39px;
    padding: 2px;
    width: 40px;
}
.menu ul span{
    /* Contenedor */
    width:0;
    left:38px;
    padding:0;
    position:absolute;
    overflow:hidden;
    /* Texto */
    font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:39px;
    /* CSS3 Transicion: */
    -webkit-transition: 0.25s; 
}
.menu ul a{
    height:39px;
    width:38px;
    display:block;
    position:relative;
}
  /* Estilos general de los hover */
.menu ul a:hover span{ 
    width:auto;
    padding:0 20px;
    overflow:visible; 
}
.menu ul a:hover{
    text-decoration:none;	
}
  /* Elementos */
.menu ul .elemento {	
    background-position:0 0;
}
.menu ul .elemento:hover {	
    background-position:0 -39px;
}
.menu ul .elementos span{
    color:#000000;
}
/* ---------------------FIN MENU--------------------- */


.btn{
    height: auto;
    width: 50%;
    text-align: center;
}
.btn_ver, .btn_modificar, .btn_borrar{
    display:block;
    text-decoration: none;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #ffffff;
}
.btn_ver:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.btn_modificar:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.btn_borrar:hover{
    color: #1883ba;
    background-color: #ffffff;
}



/*  Galerias */

img{width: 100%;}
